/* now is the universal selector '*'  */

* {
    color: red;
}



p{
    
    color: crimson;
}

#p2{
    color: blue;
}

.green-text{
    color: rgb(136, 219, 136);
}

#head{
    font-size: 55px;
}
.underline-h{
    text-decoration: underline;
}

h2{
    color: chartreuse;
}
#heading{
    color: rgb(219, 75, 75);
}


.normal{
    color: purple;
}

/* given below is the dragable selector in css */
p[draggable="false"]{
    color: rgb(27, 131, 176);
}
p[draggable="true"]{
    color: rgb(43, 220, 81);
}


