/* red rectangle */
.flag{
    background-color: red;
    width: 900px;
    height: 600px;
    position: relative;
}

/* the div just after the flag class */

/* blue rectangle */
.flag > div {
    /* width is given 100% of its parent div */
    width: 900px;
    height: 300px;
    background-color:  blue;
    position: absolute;
    /* a quater of 900px */
    top: 150px;

}

/* the div after the decendent div of the flag class element */
.flag > div>div{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    position: relative ;
    top: 50px;
    left:350px;
}

/* below is the cheap code */
/* body > div > div > div > p{
    color: black;
} */
.flag div div div p{
    color: black;
}


p{
    margin: 0;
    font-size: 5rem;
    text-align: center;
    color: white;
}